
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myLicenseLabel" translate="checklistApp.license.home.createOrEditLabel">Create or edit a License</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.license.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.license.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.license.contactName" for="field_contactName">Contact Name</label>
            <input type="text" class="form-control" name="contactName" id="field_contactName"
                    ng-model="vm.license.contactName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.license.contactEmail" for="field_contactEmail">Contact Email</label>
            <input type="text" class="form-control" name="contactEmail" id="field_contactEmail"
                    ng-model="vm.license.contactEmail"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.license.expirationDate" for="field_expirationDate">Expiration Date</label>
                <div class="input-group">
                    <input id="field_expirationDate" type="text" class="form-control" name="expirationDate" datetime-picker="{{dateformat}}" ng-model="vm.license.expirationDate" is-open="vm.datePickerOpenStatus.expirationDate"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('expirationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.license.activationToken" for="field_activationToken">Activation Token</label>
            <input type="text" class="form-control" name="activationToken" id="field_activationToken"
                    ng-model="vm.license.activationToken"
                    ng-minlength="1" ng-maxlength="4000" />
            <div ng-show="editForm.activationToken.$invalid">
                <p class="help-block"
                    ng-show="editForm.activationToken.$error.minlength" translate="entity.validation.minlength" translate-value-min="1">
                    This field is required to be at least 1 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.activationToken.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="4000">
                    This field cannot be longer than 4000 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label translate="checklistApp.license.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" ng-model="vm.license.client" ng-options="client as client.name for client in vm.clients track by client.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="checklistApp.license.licenseType">License Type</label>
            <adc-taxonomy model="vm.license.licenseType.id" options-data="vm.taxonomies" load-data="vm.loadData('LICENCE-TYPE')"></adc-taxonomy>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>

                <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translateXX="entity.action.save">Generate Licence Token</span>
        </button>


    </div>
</form>
