<div>
    <h2 translate="checklistApp.engagementChecklistTemplate.home.title">Engagement Checklist Templates</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="engagement-checklist-template.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="checklistApp.engagementChecklistTemplate.home.createLabel">
                        Create new Engagement Checklist Template
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'checklistApp.engagementChecklistTemplate.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="checklistTemplateName"><span translate="checklistApp.engagementChecklistTemplate.checklistTemplate">Checklist Template</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workflowName"><span translate="checklistApp.engagementChecklistTemplate.workflow">Workflow</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="engagementDescription"><span translate="checklistApp.engagementChecklistTemplate.engagement">Engagement</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="engagementChecklistTemplate in vm.engagementChecklistTemplates track by engagementChecklistTemplate.id">
                    <td><a ui-sref="engagement-checklist-template-detail({id:engagementChecklistTemplate.id})">{{engagementChecklistTemplate.id}}</a></td>
                    <td>
                        <a ui-sref="checklist-template-detail({id:engagementChecklistTemplate.checklistTemplateId})">{{engagementChecklistTemplate.checklistTemplateName}}</a>
                    </td>
                    <td>
                        <a ui-sref="workflow-detail({id:engagementChecklistTemplate.workflowId})">{{engagementChecklistTemplate.workflowName}}</a>
                    </td>
                    <td>
                        <a ui-sref="engagement-detail({id:engagementChecklistTemplate.engagementId})">{{engagementChecklistTemplate.engagementDescription}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="engagement-checklist-template-detail({id:engagementChecklistTemplate.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="engagement-checklist-template.edit({id:engagementChecklistTemplate.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="engagement-checklist-template.delete({id:engagementChecklistTemplate.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
