[Unit]
Description=Consul service
Requires=weave.service
After=weave.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/docker run --net=weave --rm --name consul-agent  -v /etc/consul:/config -p 8302:8302/udp -p 8302:8302 -p  8400:8400 -p 8500:8500 -p 8653:8600 -p 8443:8100 -p 8300:8300 -p 8301:8301 -p 8301:8301/udp gliderlabs/consul-agent:latest
ExecStop=/usr/bin/docker stop consul-agent

[Install]
WantedBy=multi-user.target
