[Unit]
Description=Weave Scope as Service
Requires=docker.service
After=docker.service

[Service]
TimeoutStartSec=0
EnvironmentFile=-/etc/weavescope/weavescope.conf
ExecStartPre=/usr/local/bin/scope launch $PEERS
ExecStart=/usr/bin/docker attach weavescope
ExecStop=/usr/local/bin/scope stop

[Install]
WantedBy=multi-user.target
