<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle>
       	<a class="btn btn-success btn-xs" ng-if="node.children.length > 0" data-nodrag ng-click="vm.toggle(this)">
            <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed }" > </span>
        </a>
        <a class="btn btn-danger btn-xs" ng-if="node.children && node.children.length == 0" data-nodrag>
             <span class="glyphicon glyphicon-chevron-down"> </span>
   	    </a>
        <input type="text" readonly data-nodrag size="5%" name="nodeValue" id="field_nodeValue" ng-model="node.id" style="background-color:transparent; border:none"/>
	    <input type="text" readonly data-nodrag size="10%" name="nodeValue" id="field_nodeValue" ng-model="node.code" style="background-color:transparent; border:none "/>
        <input type="text" readonly data-nodrag size="42%" name="nodeValue" id="field_nodeValue" ng-model="node.description" style="background-color:transparent; border:none"/>

		<span class="pull-right btn btn-xs" data-nodrag  data-toggle="buttons">
			<label class="btn-default"><input type="radio" name="{{node.id}}" id="radio_{{node.id}}_na"  value="Not Applicable" ng-model="node.response.questionResponse" ng-change="vm.updateResponse(vm.userName, node,'Not Applicable')" >N/A</label>
        	<label class="btn-default"><input type="radio" name="{{node.id}}" id="radio_{{node.id}}_yes" value="Yes" ng-model="node.response.questionResponse"            ng-change="vm.updateResponse(vm.userName, node,'Yes')">Yes</label>
        	<label class="btn-default"><input type="radio" name="{{node.id}}" id="radio_{{node.id}}_no"  value="No"  ng-model="node.response.questionResponse"            ng-change="vm.updateResponse(vm.userName, node,'No')">No</label>
       		<a data-nodrag ng-click="vm.openEditor(this,node)" style="margin-right: 4px;">
           		<span class="glyphicon glyphicon-comment"></span>
 	    	</a>
		</span>
    </div>
    <ol ui-tree-nodes="options" ng-model="node.children" ng-if="!collapsed" data-nodrop>
        <li ng-repeat="node in node.children" collapsed="true" ng-if="!collapsed" ui-tree-node ng-include="'nodes_renderer.html'"></li>
    </ol>
</script>

<!-- Included ck editor div modal -->
<div ng-show="vm.editorEnabled">
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myChecklistLabel" XXtranslate="checklistApp.checklist.home.createOrEditLabel">{{vm.editorTitle}}</h4>
    </div>
    <div class="modal-body">
		<textarea  id="thisEditor" ckeditor="vm.editorOptions" ng-model="vm.content"></textarea>
	</div>
	<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.editorClear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.editorSave()">
            <span class="glyphicon glyphicon-save"  ></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</div>

<form ng-show="!vm.editorEnabled" name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAuditProfileLabel" translatexx="checklistApp.auditProfile.home.createOrEditLabel">Create or edit a Checklist</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.auditProfile.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.auditProfile.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.auditProfile.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.auditProfile.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.auditProfile.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.auditProfile.status" id="field_status">
                <option value="DRAFT" translate="checklistApp.ResponseStatus.DRAFT">DRAFT</option>
                <option value="FINAL" translate="checklistApp.ResponseStatus.FINAL">FINAL</option>
            </select>
        </div>

        <div class="form-group">
            <label translate="checklistApp.auditProfile.engagement" for="field_engagement">Engagement</label>
            <select class="form-control" id="field_engagement" ng-change="vm.loadQuestionsData()" name="engagement" ng-model="vm.auditProfile.engagementId" ng-options="engagement.id as engagement.description for engagement in vm.engagements"            >
                <option value=""></option>
            </select>
        </div>
<!--         <div class="form-group">
            <label translate="checklistApp.auditProfile.auditQuestionResponse" for="field_auditQuestionResponse">Audit Question Response</label>
            <select class="form-control" id="field_auditQuestionResponse" multiple name="auditQuestionResponse" ng-model="vm.auditProfile.auditQuestionResponses" ng-options="auditQuestionResponse as auditQuestionResponse.questionResponse for auditQuestionResponse in vm.auditquestionresponses track by auditQuestionResponse.id"></select>
        </div> -->
    </div>

<!-- NEW -->
 <div class="container-fluid" id="btn_display_container">
    <div class="row-fluid">
        <div class="col-sm-4 col-xs-4">
            <button type="button" class="btn btn-default  pull-left" data-dismiss="modal" ng-click="vm.expandAll()">
                <span>Expand All</span>
            </button>
            <button type="button" class="btn btn-default  pull-left" data-dismiss="modal" ng-click="vm.collapseAll()">
                <span>Collapse All</span>
            </button>
        </div>
        <div class="col-sm-8 col-xs-8 pull-right" ng-show="!vm.isCollabrate">
           	<button type="button" class="pull-right btn btn-default" data-dismiss="modal" ng-click="vm.handleCollaborateOn()">
              	<span class="glyphicon glyphicon-share"></span>&nbsp;<span translateXX="entity.action.collaborateOn">Collaborate</span>
            </button>
        </div>
        <div class="col-sm-5 col-xs-5" ng-show="vm.isCollabrate">
        	<span ng-repeat="collaborator in vm.collaboratorList">
        		<img src="{{collaborator.photo}}" alt="{{collaborator.displayName}}" class="img-circle img-responsive" style="display:inline-block;width:32px;height:32px;"></img>
        	</span>
        </div>
	    <div class="col-sm-3 col-xs-3 pull-right" ng-show="vm.isCollabrate">
	        <button type="button" class="btn btn-default" style="display:inline-block" data-dismiss="modal" ng-click="vm.handleCollaborateOFF()">
	            <span class="glyphicon glyphicon-pause"></span>&nbsp;<span>Stop</span>
	        </button>
        </div>
    </div>
</div>

<div class="form-group">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<h3>Checklist</h3>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
	      <div ui-tree="options" id="template_questions">
		        <ol ui-tree-nodes ng-model="vm.questionTemplate" data-nodrop>
		             <li ng-repeat="node in vm.questionTemplate" ui-tree-node collapsed="true" ng-if="!collapsed" ng-include="'nodes_renderer.html'" class="animate-repeat"></li>
		        </ol>
	      </div>
	  </div>
	  <div class="col-sm-1"> </div>
	</div>
</div>



<!-- NEW -->
    <div class="modal-footer">

        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translateXX="entity.action.publish">History Changes</span>
        </button>

        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>

        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translateXX="entity.action.publish">Flag as Final</span>
        </button>


        <button type="button" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" ng-click="vm.rollover()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translateXX="entity.action.publish">Rollover</span>
        </button>
    </div>
</form>
