<script type="text/ng-template" id="nodes_renderer_1.html">
	<div ui-tree-handle>
		<a class="btn btn-success btn-xs" ng-if="node.children.length > 0" data-nodrag ng-click="vm.toggle(this)">
                <span class="glyphicon" style="font-size: 8px" ng-class="{'glyphicon-chevron-right': collapsed,'glyphicon-chevron-down': !collapsed }" > </span>
        </a>
		<a class="btn btn-danger btn-xs" ng-if="node.children && node.children.length == 0" data-nodrag>
                 <span class="glyphicon glyphicon-chevron-down" style="font-size: 8px"> </span>
        </a>
		<input type="checkbox" ng-model="node.selected" data-nodrag/>
		<label>{{node.tagName}}</label>
	</div>
	<ol ui-tree-nodes="options_1" ng-model="node.children" ng-if="!collapsed" data-nodrop>
        <li ng-repeat="node in node.children" collapsed="true" ng-if="!collapsed" ui-tree-node ng-include="'nodes_renderer_1.html'"></li>
    </ol>
</script>

<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClientLabel" translate="checklistApp.client.home.createOrEditLabel">Create or edit a Client</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.client.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.client.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.client.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.client.code"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.client.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.client.name"
                     />
        </div>
        
        <div class="form-group">
			<label>Metadata</label>
			<div class="row">
				<div class="col-sm-2"> </div>
  				<div class="col-sm-8">
      				<div ui-tree="options_1">
        				<ol ui-tree-nodes ng-model="vm.treeMetaData" data-nodrop>
             				<li ng-repeat="node in vm.treeMetaData" ui-tree-node collapsed="true" ng-if="!collapsed" ng-include="'nodes_renderer_1.html'" class="animate-repeat"></li>
        				</ol>
      				</div>
  				</div>
  				<div class="col-sm-2"> </div>
			</div>
		</div>

<!-- NEW -->

 <!-- <div class="form-group">


<div class="row">


<spam style="padding: 10px 20px 5px 10px;"></spam>
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.newItem()">
            <span class="glyphicon glyphicon-ban-save"></span>&nbsp;<span translateXX="entity.action.cancel">Add Authority</span>
        </button>


</div>

</div> -->

<!-- NEW -->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>

                <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translateXX="entity.action.save">Licence Management</span>
        </button>

    </div>
</form>
