
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClientLabel" translate="checklistApp.client.home.createOrEditLabel">Create or edit a Client</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.client.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.client.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.client.code" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                    ng-model="vm.client.code"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.client.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.client.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.client.duns" for="field_duns">Duns</label>
            <input type="text" class="form-control" name="duns" id="field_duns"
                    ng-model="vm.client.duns"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.client.partyId" for="field_partyId">Party Id</label>
            <input type="text" class="form-control" name="partyId" id="field_partyId"
                    ng-model="vm.client.partyId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.client.cesId" for="field_cesId">Ces Id</label>
            <input type="text" class="form-control" name="cesId" id="field_cesId"
                    ng-model="vm.client.cesId"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
