
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myChecklistLabel" translate="checklistApp.checklist.home.createOrEditLabel">Create or edit a Checklist</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.checklist.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.checklist.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.checklist.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.checklist.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.checklist.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.checklist.status" id="field_status">
                <option value="DRAFT" translate="checklistApp.ResponseStatus.DRAFT">DRAFT</option>
                <option value="FINAL" translate="checklistApp.ResponseStatus.FINAL">FINAL</option>
            </select>
        </div>

        <div class="form-group">
            <label translate="checklistApp.checklist.engagement" for="field_engagement">Engagement</label>
            <select class="form-control" id="field_engagement" name="engagement" ng-model="vm.checklist.engagementId" ng-options="engagement.id as engagement.description for engagement in vm.engagements"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="checklistApp.checklist.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" ng-model="vm.checklist.ownerId" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="checklistApp.checklist.checklistAnswer" for="field_checklistAnswer">Checklist Answer</label>
            <select class="form-control" id="field_checklistAnswer" multiple name="checklistAnswer" ng-model="vm.checklist.checklistAnswers" ng-options="checklistAnswer as checklistAnswer.answer for checklistAnswer in vm.checklistanswers track by checklistAnswer.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
