<script type="text/ng-template" id="nodes_renderer.html">
  <div ui-tree-handle class="tree-node tree-node-content">
    <a class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag ng-click="vm.toggle(this)"><span
        class="glyphicon"
        ng-class="{
          'glyphicon-chevron-right': collapsed,
          'glyphicon-chevron-down': !collapsed
        }"></span></a>
    {{node.title}}
    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="vm.remove(this)"><span
        class="glyphicon glyphicon-remove"></span></a>
    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="vm.newSubItem(this)" style="margin-right: 8px;"><span
        class="glyphicon glyphicon-plus"></span></a>
  </div>
  <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
    </li>
  </ol>
</script>

<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myChecklistLabel" translate="checklistApp.checklist.home.createOrEditLabel">Create or edit a Checklist</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.checklist.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.checklist.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.checklist.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.checklist.name"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.checklist.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.checklist.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.checklist.version" for="field_version">Version</label>
            <input type="text" class="form-control" name="version" id="field_version"
                    ng-model="vm.checklist.version"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.checklist.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.checklist.status" id="field_status">
                <option value="DRAFT" translate="checklistApp.ChecklistStatus.DRAFT">DRAFT</option>
                <option value="RELEASED" translate="checklistApp.ChecklistStatus.RELEASED">RELEASED</option>
            </select>
        </div>

        <div class="form-group">
            <label translate="checklistApp.checklist.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" ng-model="vm.checklist.country" ng-options="country as country.name for country in vm.countries track by country.id">
                <option value=""></option>
            </select>
        </div>
    </div>


        <div class="form-group">


<div class="row">


<div class="col-sm-12">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.expandAll()">
            <span class="glyphicon glyphicon-ban-save"></span>&nbsp;<span translateXX="entity.action.cancel">Expand All</span>
        </button>

      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.collapseAll()">
            <span class="glyphicon glyphicon-ban-save"></span>&nbsp;<span translateXX="entity.action.cancel">Collapse All</span>
        </button>
</div>

</div>

</div>
<div class="form-group">
<div class="row">
  <div class="col-sm-1"> </div>
  <div class="col-sm-10">
    <div ui-tree id="tree-root">
      <ol ui-tree-nodes ng-model="vm.treedata">
        <li ng-repeat="node in vm.treedata" ui-tree-node ng-include="'nodes_renderer.html'"></li>
      </ol>
    </div>
  </div>
  <div class="col-sm-1"> </div>

</div>
</div>



        </div>
    </div>



    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>

                <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span XXtranslate="entity.action.publish">Save & Release</span>
        </button>

    </div>
</form>
