
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myNotificationActionLabel" translate="checklistApp.notificationAction.home.createOrEditLabel">Create or edit a Notification Action</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.notificationAction.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.notificationAction.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.notificationAction.action" for="field_action">Action</label>
            <input type="text" class="form-control" name="action" id="field_action"
                    ng-model="vm.notificationAction.action"
                     />
        </div>

        <div class="form-group">
            <label translate="checklistApp.notificationAction.notification" for="field_notification">Notification</label>
            <select class="form-control" id="field_notification" name="notification" ng-model="vm.notificationAction.notificationId" ng-options="notification.id as notification.id for notification in vm.notifications"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
