
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAuditProfileLabel" translate="checklistApp.auditProfile.home.createOrEditLabel">Create or edit a Audit Profile</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.auditProfile.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.auditProfile.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.auditProfile.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.auditProfile.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.auditProfile.status" for="field_status">Status</label>
            <select class="form-control" name="status" ng-model="vm.auditProfile.status" id="field_status">
                <option value="DRAFT" translate="checklistApp.ResponseStatus.DRAFT">DRAFT</option>
                <option value="FINAL" translate="checklistApp.ResponseStatus.FINAL">FINAL</option>
            </select>
        </div>

<!--         <div class="form-group">
            <label translate="checklistApp.auditProfile.auditQuestionResponse" for="field_auditQuestionResponse">Audit Question Response</label>
            <select class="form-control" id="field_auditQuestionResponse" multiple name="auditQuestionResponse" ng-model="vm.auditProfile.auditQuestionResponses" ng-options="auditQuestionResponse as auditQuestionResponse.questionResponse for auditQuestionResponse in vm.auditquestionresponses track by auditQuestionResponse.id"></select>
        </div> -->
        <div class="form-group">
            <label translate="checklistApp.auditProfile.engagement" for="field_engagement">Engagement</label>
            <select class="form-control" id="field_engagement" name="engagement" ng-model="vm.auditProfile.engagementId" ng-options="engagement.id as engagement.description + ' @ ' +engagement.client.name for engagement in vm.engagements"            >
                <option value=""></option>
            </select>
        </div>


        <div class="form-group">
            <label translate="checklistApp.auditProfile.checklist" for="field_checklist">Checklist</label>

<div style="display:-webkit-box">
            <select style="width:90%" class="form-control" id="field_checklist" name="checklist" ng-model="vm.auditProfile.checklist" ng-options="checklist as checklist.name for checklist in vm.checklists track by checklist.id">
                <option value=""></option>
            </select>
<spam style="padding: 10px 10px 10px 10px;"></spam>
            <button
            style="padding: 0px 0px 0px 0px;color: #fff;background-color: #EB9C00;border-color: #EB9C00;"
            type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.expandAll()">
            <span class="glyphicon glyphicon-ban-save"></span>&nbsp;<span translateXX="entity.action.cancel">Load</span>
            </button>
        </button>

        </div>



<!--         <div class="form-group">
            <label translate="checklistApp.auditProfile.workflow" for="field_workflow">Workflow</label>
            <select class="form-control" id="field_workflow" name="workflow" ng-model="vm.auditProfile.workflowId" ng-options="workflow.id as workflow.description for workflow in vm.workflows"            >
                <option value=""></option>
            </select>
        </div> -->
    </div>


    <div class="form-group">


<div class="row">


<spam style="padding: 10px 5px 5px 10px;"></spam>
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.expandAll()">
            <span class="glyphicon glyphicon-ban-save"></span>&nbsp;<span translateXX="entity.action.cancel">Expand All</span>
        </button>

      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.collapseAll()">
            <span class="glyphicon glyphicon-ban-save"></span>&nbsp;<span translateXX="entity.action.cancel">Collapse All</span>
        </button>


</div>

</div>
<div class="form-group">
<div class="row">

  <div class="col-sm-12">

<div id="grid1" ui-grid="vm.treedata" ui-grid-edit ui-grid-cellnav ui-grid-validate ui-grid-tree-view class="grid"></div>



</div>
</div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>

        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translateXX="entity.action.publish">Flag as Final</span>
        </button>


        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translateXX="entity.action.publish">Rollover</span>
        </button>
    </div>
</form>
