.well {
  background-color: transparent;
  border: 0px solid #e3e3e3;
  padding: 0px; }

.navbar {
  border: 0px solid transparent; }

.navbar li.active {
  color: #EB9C00;
  border-top: 3px solid #EB9C00; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #EB9C00;
  background-color: #e7e7e7; }

.footer ul li {
  float: left;
  margin: 0 12px; }

.footer .container2 {
  background: #FDF4E5;
  color: #A32020;
  font-size: 14px;
  padding: 15px 15px 10px;
  line-height: 24px; }

.foot-link > li a {
  border-top: 3px solid #ccc;
  color: #323232;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-top: 10px;
  padding-top: 5px; }

.btn-info {
  background: #EB9C00;
  border-color: #EB9C00; }

.btn-info:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74; }

.btn-primary {
  color: #fff;
  background-color: #EB9C00;
  border-color: #EB9C00; }

.angular-ui-tree-handle {
  background: #f8faff;
  border: 1px solid #dae2ea;
  color: #7c9eb2;
  padding: 10px 10px; }

.angular-ui-tree-handle:hover {
  color: #438eb9;
  background: #f4f6f7;
  border-color: #dce2e8; }

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

tr.angular-ui-tree-empty {
  height: 100px; }

.group-title {
  background-color: #687074 !important;
  color: #FFF !important; }

/* --- Tree --- */
.tree-node {
  border: 1px solid #dae2ea;
  background: #f8faff;
  color: #7c9eb2; }

.nodrop {
  background-color: #f2dede; }

.tree-node-content {
  margin: 10px; }

.tree-handle {
  padding: 10px;
  background: #428bca;
  color: #FFF;
  margin-right: 10px; }

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 2px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
