
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEngagementMemberLabel" translate="checklistApp.engagementMember.home.createOrEditLabel">Create or edit a Engagement Member</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.engagementMember.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.engagementMember.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="checklistApp.engagementMember.authority" for="field_authority">Authority</label>
            <select class="form-control" name="authority" ng-model="vm.engagementMember.authority" id="field_authority">
                <option value="ROLE_PWC_ENGAGEMENT_TEAM" translate="checklistApp.EngagementAuthorities.ROLE_PWC_ENGAGEMENT_TEAM">ROLE_PWC_ENGAGEMENT_TEAM</option>
                <option value="ROLE_PWC_PERSSONEL_US" translate="checklistApp.EngagementAuthorities.ROLE_PWC_PERSSONEL_US">ROLE_PWC_PERSSONEL_US</option>
                <option value="ROLE_PWC_PERSSONEL_TERRITORY" translate="checklistApp.EngagementAuthorities.ROLE_PWC_PERSSONEL_TERRITORY">ROLE_PWC_PERSSONEL_TERRITORY</option>
                <option value="ROLE_PWC_MANAGEMENT" translate="checklistApp.EngagementAuthorities.ROLE_PWC_MANAGEMENT">ROLE_PWC_MANAGEMENT</option>
            </select>
        </div>

        <div class="form-group">
            <label translate="checklistApp.engagementMember.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.engagementMember.userId" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="checklistApp.engagementMember.engagement" for="field_engagement">Engagement</label>
            <select class="form-control" id="field_engagement" name="engagement" ng-model="vm.engagementMember.engagementId" ng-options="engagement.id as engagement.description for engagement in vm.engagements"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
